version: 2.1
executors:
  hnguyen3-executor:
    docker:
      - image: python:3.7.3-stretch

jobs:
  build:
    executor:  hnguyen3-executor
    steps:
      - checkout
      - working_directory: .
      - restore_cache:
          keys:
            - dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ checksum "requirements.txt" }}

      # run lint!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint
      - run:
          name: Run Tests
          command: |
            ls
            echo "THEN RUN TEST"
            pylint --disable=R,C,W1203,W1202 app.pylint
            echo "NEW RESULT"
            ls -l
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

workflows:
  prj4-project-ml-microservice-kubernetes:
    jobs:
      - build