version: 2.1
executors:
  hnguyen3-executor:
    docker:
      - image: python:3.7.3-stretch

jobs:
  build:
    executor:  hnguyen3-executor
    steps:
      - checkout      
      - restore_cache:
          keys:
            - dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Install python dependencies
          working_directory: .
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint

            # Install pylint
            pip install pylint
            chmod +x  venv/bin/pylint

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ checksum "requirements.txt" }}

      # run lint!
      - run:
          name: Make lint
          command: |
            . venv/bin/activate
            make lint

      - run:
          name: Run Tests
          command: |            
            echo "We gonna test Dockerfile"
            /bin/hadolint Dockerfile

            echo "We gonna test app.py"
            venv/bin/pylint --disable=R,C,W app.py 

      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

workflows:
  prj4-project-ml-microservice-kubernetes:
    jobs:
      - build